[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requestium = "*"
beautifulsoup4 = "*"
arrow = "*"
boto3 = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.6"
